#prject-main {
    padding: 100px 0px;
}
.ourPro h1{
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 600;
    font-size: 48px;
    line-height: 40px;
}
.view a{
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}
.poo{
 position: relative;
}
.card01 img{
    width: 100%;
}
.overl{
   position: absolute;
   top: 0;
   bottom: 0;
   background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
   padding: 300px 35px 0px 48px;
}
.overl:hover{
    width: 100%;
}
.overl h2{
    color:#FFFFFF;
    font-family: "Poppins", sans-serif; 
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    width: 313px;
}
.overl a{
    color:#FCD980;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
}
.card02 img{
    width: 100%;
}
.poo1{
    position: relative;
}
.overl01{
    position: absolute;
    left: 50px;
    bottom: 48px;
}
.card03 img{
    padding-top: 40px;
    width: 100%;
}
.overl01 a{
    color:#FCD980;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
}
.top01{
    padding-top: 60px;
}
