#solves-main{
    padding: 100px 0px;
    background-color: #F4F6FC;
}
.features-text p{
    text-align: center;
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
.features-text h2{
    text-align: center;
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.uses h3{
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-top: 22px;
}
.uses p{
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 70%;
    padding-top: 11px;
}
.uses{
    background-color: #FFFFFF;
    padding: 58px 38px 48px 48px;
    margin: 24px 0px;
}