#about-banner-main{
    padding: 180px 0px 100px 0px;
}
.about-solve h3{
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.about-solve h2{
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
}
.about-solve p{
    color:#282938;
    font-family: "Poppins", sans-serif; 
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    opacity: 70%;
    padding-top: 30px;
}