#banner{
    background-color: #1C1E53;
    padding: 150px 0px 130px 0px;
}
.left-text h2{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif; 
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
}
.left-text p{
    color: #FFFFFF;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    opacity: 70%;
    padding-top: 24px;
}
.left-btn{
    padding-top: 42px;
}
.left-btn a{
    color: #1B1C2B;
    font-family: "Poppins", sans-serif; 
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;
    background-color: #FCD980;
    padding: 16px 56px;
    border-radius: 41px;
}
.left-btn a:hover{
    background-color: #eadbb8;
}
.right-img img{
    width: 100%;
}